html
  link href="../styles/main.css" rel="stylesheet" type="text/css"
  img#image
  .text-container
    .text-wrapper
      h1 Your main focus
      input#focus

  script src="../scripts/index.js" type="text/javascript"
